{% for stock in stocks%}
    <tr>
        <td>{{stock.ticker}}</td>
        <td>{{stock.current_price}}</td>
        <td>
            <form action="/update/stock/watch_price/{{stock.id}}" method="post">
                {% csrf_token %}
                <input type="number" step="0.01" class="form-control" name="watch_price" value="{{stock.watch_price}}" min = 0.01>
        </td>
        <td><button type="submit" class="btn btn-warning">Change Watch Price</button></form> <a href="/delete/stock/{{ stock.id }}" class="btn btn-danger">Remove</a></td>
    </tr>
{% endfor %}