{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Register</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}" defer></script>
    <script src="{% static "js/index.js" %}" defer></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
            <h1>StockTickler</h1>
        </div>
    </nav>
    <div class="container">
        <br>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="err-msg">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        <div class="bg-light register-form-container">
            <h3>Register</h3>
            <div class="jumbotron text-center bg-light">
                <form action="/register" method="post" class="centered-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="first_name" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email Address">
                        <small class="form-text text-muted text-left">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                        <small class="form-text text-muted text-left">Must be at least 8 characters in length.</small>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
            </div>
        </div>
        <div class="register-form-container bg-light">
            <h3>Login</h3>
            <div class="jumbotron text-center bg-light">
                <form action="/login" method="post" class="centered-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <br>
            </div>
        </div>
        <div class="jumbotron text-center">
            <h1> Disclaimer </h1>
            <p> Before using this site, please make sure that you note the following important information:</p>
            <p><b>Do Your Own Research</b></p>
            <p> Our own content is intended to be used and must be used for informational purposes only. It is very important to do your own analysis before making any investment based on your own pesonal circumstances. You should take independent financial advice from a professional in connection with, or independently research and verify, any information that you find on our Website and wish to rely upon, whether for the purpose of making an investment decision or otherwise.</p>
        </div>
    </div>
</body>

</html>