{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}" defer></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
            <h1>StockTickler</h1>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-outline-dark" href="/add_stock">Picker</a>
                    <a class="btn btn-outline-dark" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <br>
        <h5>{{ user.first_name }}{% if user.first_name|last == "s" %}'{% else %}'s{% endif %} Stock Watchlist:</h5>
        <br>
        <p>Market data provided by <em><a href="https://finance.yahoo.com/">yahoo! Finance</a></em>.</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">List Price</th>
                    <th scope="col">Watch Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks%}
                <tr>
                    <td>{{stock.ticker}}</td>
                    <td>{{stock.current_price}}</td>
                    <td>
                        <form action="/update/stock/watch_price/{{stock.id}}" method="post">
                            {% csrf_token %}
                            <input type="number" step="0.01" class="form-control" name="watch_price" value="{{stock.watch_price}}" min = 0.01>
                    </td>
                    <td><button type="submit" class="btn btn-warning">Change Watch Price</button></form> <a href="/delete/stock/{{ stock.id }}" class="btn btn-danger">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <div class="bg-light">
            <br>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="err-msg">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <h5>Update Name</h5>
            <form action="/update/name/user/{{ user.id }}" method="post" class="centered-form"> <!-- Update Name Form -->
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name" class="label label-default">First Name</label>
                    <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                </div>
                <div class="form-group">
                    <label for="last_name" class="label label-default">Last Name</label>
                    <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                </div>
                <div class="form-group">
                    <label for="password" class="label label-default">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter password ...">
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-warning">Update Name</button>
                </div>
            </form>
            <hr>
            <h5>Update Email</h5>
            <form action="/update/email/user/{{ user.id }}" method="post" class="centered-form"> <!-- Update Email Form -->
                {% csrf_token %}
                <div class="form-group">
                    <label for="email" class="label label-default">Email</label>
                    <input type="email" class="form-control" name="email" value="{{ user.email }}">
                </div>
                <div class="form-group">
                    <label for="password" class="label label-default">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter password ...">
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-warning">Update Email</button>
                </div>
            </form>
            <hr>
            <h5>Update Password</h5>
            <form action="/update/password/user/{{ user.id }}" method="post" class="centered-form"> <!-- Update Password Form -->
                {% csrf_token %}
                <div class="form-group">
                    <label for="password" class="label label-default">New Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter new password ...">
                </div>
                <div class="form-group">
                    <label for="password2" class="label label-default">Confirm New Password</label>
                    <input type="password" class="form-control" name="password2" placeholder="Confirm new password ...">
                </div>
                <div class="form-group">
                    <label for="password3" class="label label-default">Old Password</label>
                    <input type="password" class="form-control" name="password3" placeholder="Enter old password ...">
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-warning">Update Password</button>
                </div>
            </form>
            <hr>
            <div class="text-center">
                <a href="/delete/user" class="btn btn-danger">Delete Profile</a>
            </div>
            <br>
        </div>
    </div>
</body>

</html>