{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}" defer></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
            <h1>StockTickler</h1>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Route: /index or /</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Route: /profile</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <br>
        <h5>Welcome, First_name Last_name!</h5>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="ticker" class="label label-default">Stock Ticker</label>
                <input type="text" class="form-control" name="ticker" placeholder="Enter symbol...">
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Find</button>
            </div>
        </form>
        <hr style="border-top: 1px black solid;">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="watch_price" class="label label-default">Watch Price</label>
                <input type="number" step="0.01" class="form-control" name="watch_price" placeholder="Enter watch price...">
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary float-right">Enter</button>
            </div>
        </form>
        <br>
    </div>
</body>

</html>